img {
    width: 30%;
    margin-top: 140px;
    border: dotted rgba(249, 171, 121, 0.9) 3px;
}

#self-pic {
    text-align: right;
    position: relative;
    z-index: -1;
}

.pic-text {
    position: absolute;
    color: rgba(255, 255, 255, 0);
    background: rgba(128, 128, 128, 0);
    width: 25%;
    margin-left: 66.5%;
    margin-top: -8%;
    border-radius: 5px;
    z-index: 2;
    font-family: 'Noto Sans', sans-serif;
}

.pic-text:hover {
    color: white;
    background: rgba(128, 128, 128, 0.767);
    margin-top: -8%;
    width: 25%;
    font-family: 'Noto Sans', sans-serif;
    font-size: small;
}

#text {
    margin: auto;
}