img {
    width: 30%;
    margin-top: 140px;
    border: dotted rgba(249, 171, 121, 0.9) 3px;
}

#self-pic {
    text-align: right;
    position: relative;
    z-index: -1;
}


/* .pic-text {
    color: rgba(255, 255, 255);
    margin-top: -15%;
    text-align: center;
}

.pic-text:hover {
    color: white;
    background-color: rgba(128, 128, 128, 0.767);
    width: 28%;


}

#text {
    margin: auto;
} */