body {
    background-color: #E7E6E1;
}

menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #314E52;
}

.about-me {
    background-color: #F7F6E7;
    padding: 20px;
}

li {
    float: left;
}

footer {
    text-align: center;
    bottom: 10px;
    width: 100%;
    background: #314E52;
    color: #F2A154;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

li a {
    display: block;
    padding: 9px;
}

.hs {
    text-align: center;
}

.pics {
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

.header1 {
    color: black;
}

.header2 {
    color: #cc8746;
    margin: 100 px 200px 0px 0px;
}

.navpage {
    margin: auto;
}

.box {
    width: 200px;
    height: 150px;
    background: lightsalmon;
    margin: 200px auto 0 auto;
    padding: 0;
}

a:link {
    color: #21094E;
}

a:visited {
    color: #F2A154;
}

a.links:hover {
    color: hotpink;
}

#name {
    color: #F2A154;
}

h2,
p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1,
a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}